In [1]:
import pandas as pd

In [42]:
#Leemos el archivo csv con los datos
data=pd.read_csv('labeled_data.csv')
datos=pd.DataFrame()

datos['hate']=data['hate_speech']
datos['tweet']=data['tweet']
datos.head()

   hate                                              tweet
0     0  !!! RT @mayasolovely: As a woman you shouldn't...
1     0  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2     0  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3     0  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4     0  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [47]:
# Crear una lista vacía para almacenar los datos limpios
datos_limpios = []

# Iterar a través de cada fila del conjunto de datos original
for i, row in datos.iterrows():
    # Dividir el tweet en palabras
    palabras = row['tweet'].split()
    
    # Iterar a través de cada palabra y agregar una nueva fila al conjunto de datos limpios
    for palabra in palabras:
        datos_limpios.append({'hate': row['hate'], 'palabra': palabra})
        
# Convertir la lista de diccionarios en un DataFrame de pandas
datos_clean = pd.DataFrame(datos_limpios)

# Exportar el archivo como CSV
datos_clean.to_csv('labeled_data_cleaned.csv', index=False)

In [51]:
dclean_hate=datos_clean[datos_clean['hate']==1]
dclean_hate['palabra'].describe()

count     49559
unique    12661
top           a
freq       1456
Name: palabra, dtype: object

In [38]:
#Leemos el archivo csv con los datos
data=pd.read_csv('test_tweets.csv')

data.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

      id         word
0  31963  #studiolife
1  31964     #aislife
2  31965    #requires
3  31966     #passion
4  31967  #dedication

In [39]:
# Crear una lista vacía para almacenar los datos limpios
datos_limpios = []

# Iterar a través de cada fila del conjunto de datos original
for i, row in data.iterrows():
    # Dividir el tweet en palabras
    palabras = row['tweet'].split()
    
    # Iterar a través de cada palabra y agregar una nueva fila al conjunto de datos limpios
    for palabra in palabras:
        datos_limpios.append({'id': row['id'], 'palabra': palabra})
        
# Convertir la lista de diccionarios en un DataFrame de pandas
datos_limpios = pd.DataFrame(datos_limpios)

# Exportar el archivo como CSV
datos_limpios.to_csv('test_tweets_cleaned.csv', index=False)

In [22]:
#Dividimos el texto en palabras y creamos una nueva fila para cada palabra
datos_clean=datos.assign(word=datos['tweet'].str.split().explode('word'))

'''
Primero usamos la función assign de pandaspara agregar una nueva columna llamada 'word', 
que va a contener las palabras divididas de la columna tweet. Estas palabras las hemos dividido utilizando str.split()
habiendo seleccionado la columna (word=datos['tweet'].str.split()) finalmente utilizamos explode para crear una nueva fila para cada palabra.
'''

#Eliminamos la columna tweet.
datos_clean.drop('tweet',axis=1, inplace=True)

''' 
El argumento axis=1 es utilizado para indicar que lo que tiene que eliminar es una columna, si su valor fuese 0, indicaría
que lo que vamos a eliminar es una fila, Por otro lado el argumento inplace que por defecto es False, al ponerlo como True,
lo que hace es que en vez de crear una copia del data frame, modifique el data frame original.
'''


#Exportamos el archivo como csv
datos_clean.to_csv('labeled_data_cleaned.csv')

#Mostramos los primeros datos
datos_clean.head()

   hate            word
0     0             !!!
1     0              RT
2     0  @mayasolovely:
3     0              As
4     0               a